<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>어드민</title>
</head>
<body>
    <h1>어드민 페이지</h1>
    <hr>
    <a href="">권한 강등</a>
    <a href="#">권한 상승</a>
    
    
<!--     <a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a> -->
<!--     <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a> -->
<!--     <a sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a> -->
<!--     <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/user}">유저버튼</a> -->
<!--     <a sec:authorize="hasRole('ROLE_MEMBER)"  th:href="@{/member}">멤버버튼</a> -->
<!--     <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민버튼</a> -->
</body>
</html>